# --------------------------------------------
# Configuration file for the pipeline process
# --------------------------------------------

[path-config]
input_path = /home/l/spark/input/
output_path= /home/l/dqe_test/dqe_code_test/output/

[database-config]
db_path = /home/l/dqe_test/dqe_code_test/database/
db_name = zomanto_db

[file-config]
prefix = data_file_
extension = csv

[support-config]
suppor_path = /home/l/spark/support/
area_file = Areas_in_blore.xlsx

[process]
signal = RUN